<mat-card class="hero">
  <div class="background-image overlay"></div>
  <mat-card-content>
    <h1>Welcome to Sysnovare's Home Banking App</h1>
    <p>Securely manage your finances online</p>
    <button
      mat-raised-button
      color="primary"
      class="cta-button"
      (click)="onGetStarted()"
    >
      Get Started
    </button>
  </mat-card-content>
</mat-card>

<div class="features">
  <mat-card class="feature">
    <mat-icon class="icon">credit_card</mat-icon>
    <h2>Manage Accounts</h2>
    <p>View and manage your bank accounts with ease.</p>
  </mat-card>
  <mat-card class="feature">
    <mat-icon class="icon">swap_horiz</mat-icon>
    <h2>Transactions</h2>
    <p>Effortlessly make payments and transfers.</p>
  </mat-card>
  <mat-card class="feature">
    <mat-icon class="icon">security</mat-icon>
    <h2>Security</h2>
    <p>Your data is safe and protected with us(TO BE IMPLEMENTED).</p>
  </mat-card>
</div>

<footer class="mat-elevation-z2">
  <p>&copy; 2023 Home Banking App</p>
</footer>
