.hero {
  background: linear-gradient(0deg, rgba(46,100,176,0.2), rgba(0,0,0,0.6)), url("/assets/background.jpg") center/cover;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding: 120px 0;
  padding-top: 200px;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  );
  z-index: -1;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.cta-button {
  background-color: #3f51b5;
  color: #fff;
  cursor: pointer;
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  padding: 40px;
}

mat-card.feature {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.icon {
  margin-bottom: 10px;
  color: #3f51b5;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.mat-toolbar-row .mat-raised-button {
  margin-right: 10px;
}


.spacer {
  flex: 1;
}
